# Team Epic 
# Telecommunication - Customer Churn Analysis

## Data Preparation

### Importing tha required liberaries <a class= "anchor" id="h0"></a>

In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

### Loading the Data set

In [2]:
churn_df = pd.read_csv("Customer-Churn-Prediction.csv")
churn_df

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107.0,area_code_415,no,yes,26.0,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3.0,3.70,1.0,no
1,NJ,137.0,area_code_415,no,no,0.0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5.0,3.29,0.0,no
2,OH,84.0,area_code_408,yes,no,0.0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7.0,1.78,2.0,no
3,OK,75.0,area_code_415,yes,no,0.0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3.0,2.73,3.0,no
4,MA,121.0,area_code_510,no,yes,24.0,218.2,88.0,37.09,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7.0,2.03,3.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,MT,83.0,area_code_415,no,no,0.0,188.3,70.0,32.01,243.8,88.0,20.72,213.7,79.0,9.62,10.3,6.0,2.78,0.0,no
4246,WV,73.0,area_code_408,no,no,0.0,177.9,89.0,30.24,131.2,82.0,11.15,186.2,89.0,8.38,11.5,6.0,3.11,3.0,no
4247,NC,75.0,area_code_408,no,no,0.0,170.7,101.0,29.02,193.1,126.0,16.41,129.1,104.0,5.81,6.9,7.0,1.86,1.0,no
4248,HI,50.0,area_code_408,no,yes,40.0,235.7,127.0,40.07,223.0,126.0,18.96,297.5,116.0,13.39,9.9,5.0,2.67,2.0,no
4249,VT,86.0,area_code_415,no,yes,34.0,129.4,102.0,22.00,267.1,104.0,22.70,154.8,100.0,6.97,9.3,16.0,2.51,0.0,no

### Feature description of dataset

In [3]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          4232 non-null   object
 1   account_length                 4216 non-null   float64
 2   area_code                      4234 non-null   object
 3   international_plan             4250 non-null   object
 4   voice_mail_plan                4237 non-null   object
 5   number_vmail_messages          4216 non-null   float64
 6   total_day_minutes              4240 non-null   float64
 7   total_day_calls                4248 non-null   float64
 8   total_day_charge               4242 non-null   float64
 9   total_eve_minutes              4215 non-null   float64
 10  total_eve_calls                4233 non-null   float64
 11  total_eve_charge               4242 non-null   float64
 12  total_night_minutes            4248 non-null   float64
 13  total_night_calls              4245 non-null   float64
 14  total_night_charge             4243 non-null   float64
 15  total_intl_minutes             4245 non-null   float64
 16  total_intl_calls               4237 non-null   float64
 17  total_intl_charge              4220 non-null   float64
 18  number_customer_service_calls  4247 non-null   float64
 19  churn                          4228 non-null   object
dtypes: float64(15), object(5)
memory usage: 664.2+ KB

### Imbalancing of data

In [4]:
(churn_df['churn'].value_counts().index[0], churn_df['churn'].value_counts().values[0])

('no', 3634)

In [5]:
(churn_df['churn'].value_counts().index[1], churn_df['churn'].value_counts().values[1])

('yes', 594)

### Conversion of categorical variables into numerical variables  
Preprocessing on categorical columns by One Hot Encoding

In [6]:
# Defining the categorical columns:

cat_col = ['state','area_code','international_plan','voice_mail_plan']

print("Categorical columns:")
print(cat_col)

onehot_cat_col = OneHotEncoder(handle_unknown = 'ignore',categories='auto',sparse = False)

cat_transformer = Pipeline(steps = [('onehot', onehot_cat_col)])

Categorical columns:
['state', 'area_code', 'international_plan', 'voice_mail_plan']

### Numerical columns:

In [7]:
# Defining the numerical columns:

num_cols = churn_df.select_dtypes(include=['int64','float64']).columns

print("Numerical columns: ")
print(num_cols)

scaler_num_cols = StandardScaler()

num_transformer = Pipeline(steps = [('scale',scaler_num_cols)])

Numerical columns:
Index(['account_length', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls'],
      dtype='object')

### Preprocessing

In [8]:
Preprocess = ColumnTransformer(transformers=[('cat',cat_transformer, cat_col),
                          ('num',num_transformer, num_cols)],
                                          remainder = "passthrough")

churn = Preprocess.fit_transform(churn_df)
print(churn)

[[0.0 0.0 0.0 ... 1.2485563734579936 -0.42676547018992006 'no']
 [0.0 0.0 0.0 ... 0.698238133721244 -1.1892698672856672 'no']
 [0.0 0.0 0.0 ... -1.328543676040931 0.335738926905827 'no']
 ...
 [0.0 0.0 0.0 ... -1.2211645073118091 -0.42676547018992006 'no']
 [0.0 0.0 0.0 ... -0.13395042392945053 0.335738926905827 'no']
 [0.0 0.0 0.0 ... -0.3487087613876944 -1.1892698672856672 'no']]

### Converitng traget variable into numerical by Label Encoder

In [9]:
le=LabelEncoder()
y = le.fit_transform(churn_df["churn"])

### Splitting tha balanced dataset using train_test_split.<a class= "anchor" id="h6"></a>

In [10]:
from sklearn.model_selection import train_test_split
X_train, y_train, X_test, y_test = train_test_split(churn, y, random_state= 20, test_size= 0.3)

In [11]:
print("Size of the traintest :", X_train.shape , y_train.shape)

Size of the traintest : (2975, 77) (1275, 77)

In [12]:
print("Size of the testset :", X_test.shape , y_test.shape)

Size of the testset : (2975,) (1275,)