# Team Epic 
# Telecommunication - Customer Churn Analysis

## Data Preparation

## Table Of Content

* [Importing tha required liberaries](#h0) 
* [Conversion of cat_col into num col](#h1)
* [Handling missing values](#h2)
* [Outlier Detection](#h3)
* [Feature/target Selection](#h4)
* [Balancing Data](#h5)
* [Splitting Train/Test](#h6)

### Importing tha required liberaries <a class= "anchor" id="h0"></a>

In [1]:
import pandas as pd 
import numpy as np

#### Loading the Data set

In [2]:
churn_df = pd.read_csv("Customer-Churn-Prediction.csv")
churn_df

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107.0,area_code_415,no,yes,26.0,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3.0,3.70,1.0,no
1,NJ,137.0,area_code_415,no,no,0.0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5.0,3.29,0.0,no
2,OH,84.0,area_code_408,yes,no,0.0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7.0,1.78,2.0,no
3,OK,75.0,area_code_415,yes,no,0.0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3.0,2.73,3.0,no
4,MA,121.0,area_code_510,no,yes,24.0,218.2,88.0,37.09,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7.0,2.03,3.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,MT,83.0,area_code_415,no,no,0.0,188.3,70.0,32.01,243.8,88.0,20.72,213.7,79.0,9.62,10.3,6.0,2.78,0.0,no
4246,WV,73.0,area_code_408,no,no,0.0,177.9,89.0,30.24,131.2,82.0,11.15,186.2,89.0,8.38,11.5,6.0,3.11,3.0,no
4247,NC,75.0,area_code_408,no,no,0.0,170.7,101.0,29.02,193.1,126.0,16.41,129.1,104.0,5.81,6.9,7.0,1.86,1.0,no
4248,HI,50.0,area_code_408,no,yes,40.0,235.7,127.0,40.07,223.0,126.0,18.96,297.5,116.0,13.39,9.9,5.0,2.67,2.0,no
4249,VT,86.0,area_code_415,no,yes,34.0,129.4,102.0,22.00,267.1,104.0,22.70,154.8,100.0,6.97,9.3,16.0,2.51,0.0,no

#### Feature description of dataset

In [3]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          4232 non-null   object
 1   account_length                 4216 non-null   float64
 2   area_code                      4234 non-null   object
 3   international_plan             4250 non-null   object
 4   voice_mail_plan                4237 non-null   object
 5   number_vmail_messages          4216 non-null   float64
 6   total_day_minutes              4240 non-null   float64
 7   total_day_calls                4248 non-null   float64
 8   total_day_charge               4242 non-null   float64
 9   total_eve_minutes              4215 non-null   float64
 10  total_eve_calls                4233 non-null   float64
 11  total_eve_charge               4242 non-null   float64
 12  total_night_minutes            4248 non-null   float64
 13  total_night_calls              4245 non-null   float64
 14  total_night_charge             4243 non-null   float64
 15  total_intl_minutes             4245 non-null   float64
 16  total_intl_calls               4237 non-null   float64
 17  total_intl_charge              4220 non-null   float64
 18  number_customer_service_calls  4247 non-null   float64
 19  churn                          4228 non-null   object
dtypes: float64(15), object(5)
memory usage: 664.2+ KB

#### Number of uniques values

In [4]:
churn_df.nunique()

state                              51
account_length                    215
area_code                           3
international_plan                  2
voice_mail_plan                     2
number_vmail_messages              46
total_day_minutes                1841
total_day_calls                   120
total_day_charge                 1842
total_eve_minutes                1767
total_eve_calls                   123
total_eve_charge                 1572
total_night_minutes              1757
total_night_calls                 128
total_night_charge                992
total_intl_minutes                168
total_intl_calls                   21
total_intl_charge                 168
number_customer_service_calls      10
churn                               2
dtype: int64

### Conversion of categorical variables into numerical variables  <a class= "anchor" id="h1"></a>

In [5]:
cat_col = ["international_plan", "voice_mail_plan"]
for i in cat_col:
    churn_df[i].replace(to_replace = ["no", "yes"], value = [0, 1], inplace=True)

In [6]:
churn_df.dtypes

state                             object
account_length                   float64
area_code                         object
international_plan                 int64
voice_mail_plan                  float64
number_vmail_messages            float64
total_day_minutes                float64
total_day_calls                  float64
total_day_charge                 float64
total_eve_minutes                float64
total_eve_calls                  float64
total_eve_charge                 float64
total_night_minutes              float64
total_night_calls                float64
total_night_charge               float64
total_intl_minutes               float64
total_intl_calls                 float64
total_intl_charge                float64
number_customer_service_calls    float64
churn                             object
dtype: object

### Handling missing values  <a class= "anchor" id="h2"></a>

In [7]:
churn_df.isnull().sum()

state                            18
account_length                   34
area_code                        16
international_plan                0
voice_mail_plan                  13
number_vmail_messages            34
total_day_minutes                10
total_day_calls                   2
total_day_charge                  8
total_eve_minutes                35
total_eve_calls                  17
total_eve_charge                  8
total_night_minutes               2
total_night_calls                 5
total_night_charge                7
total_intl_minutes                5
total_intl_calls                 13
total_intl_charge                30
number_customer_service_calls     3
churn                            22
dtype: int64

#### Replacing NULL values in numerical Columns using Median

In [8]:
for col in churn_df.columns[~churn_df.columns.isin(['state','area_code','churn'])]:
    churn_df[col] =  churn_df[col].fillna(churn_df[col].mean())

#### Replacing NULL values in categorical columns with mode.

In [9]:
for col in churn_df[['state','area_code','churn']]:
    churn_df[col] =  churn_df[col].fillna(churn_df[col].mode()[0])

In [10]:
churn_df.isnull().sum()

state                            0
account_length                   0
area_code                        0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churn                            0
dtype: int64

### Outlier Detection <a class= "anchor" id="h3"></a>

In [35]:
remove_zeros_ones_col = churn_df.drop(columns=["international_plan", "voice_mail_plan", "churn"], axis = 1)
min_val = remove_zeros_ones_col.mean() - (3 * remove_zeros_ones_col.std())
print('minimum values of outliers :\n', min_val)

minimum values of outliers :
 account_length                  -18.517951
number_vmail_messages           -32.561655
total_day_minutes                18.365437
total_day_calls                  40.369874
total_day_charge                  3.113314
total_eve_minutes                50.074265
total_eve_calls                  40.626952
total_eve_charge                  4.211400
total_night_minutes              49.469143
total_night_calls                39.602182
total_night_charge                2.232204
total_intl_minutes                1.981830
total_intl_calls                 -2.951093
total_intl_charge                 0.542366
number_customer_service_calls    -2.373788
dtype: float64

In [36]:
max_val = remove_zeros_ones_col.mean() + (3 * remove_zeros_ones_col.std())
print('maximum values of outliers :\n',max_val)

maximum values of outliers :
 account_length                   218.824877
number_vmail_messages             47.885185
total_day_minutes                342.142015
total_day_calls                  159.440390
total_day_charge                  58.167275
total_eve_minutes                350.451049
total_eve_calls                  159.766622
total_eve_charge                  29.820670
total_night_minutes              351.557129
total_night_calls                160.063307
total_night_charge                15.816946
total_intl_minutes                18.528465
total_intl_calls                  11.804055
total_intl_charge                  4.997226
number_customer_service_calls      5.493167
dtype: float64

In [37]:
outliers = remove_zeros_ones_col[remove_zeros_ones_col > max_val]
outliers.count()

account_length                   10
number_vmail_messages            10
total_day_minutes                 3
total_day_calls                   3
total_day_charge                  3
total_eve_minutes                 3
total_eve_calls                   3
total_eve_charge                  3
total_night_minutes              10
total_night_calls                 5
total_night_charge               10
total_intl_minutes                6
total_intl_calls                 62
total_intl_charge                 7
number_customer_service_calls    45
dtype: int64

### Statistical Description of dataset

In [13]:
churn_df.describe().T

,count,mean,std,min,25%,50%,75%,max
account_length,4250.0,100.153463,39.557138,1.0,73.0000,100.000000,127.0000,243.00
international_plan,4250.0,0.093176,0.290714,0.0,0.0000,0.000000,0.0000,1.00
voice_mail_plan,4250.0,0.261978,0.439089,0.0,0.0000,0.000000,1.0000,1.00
number_vmail_messages,4250.0,7.661765,13.407807,0.0,0.0000,0.000000,15.7500,52.00
total_day_minutes,4250.0,180.253726,53.962763,0.0,143.4250,180.350000,216.1750,351.50
total_day_calls,4250.0,99.905132,19.845086,0.0,87.0000,100.000000,113.0000,165.00
total_day_charge,4250.0,30.640295,9.175660,0.0,24.4025,30.650000,36.7500,59.76
total_eve_minutes,4250.0,200.262657,50.062797,0.0,166.8000,200.281329,233.6750,359.30
total_eve_calls,4250.0,100.196787,19.856612,0.0,87.0000,100.098394,114.0000,170.00
total_eve_charge,4250.0,17.016035,4.268212,0.0,14.1325,17.050000,19.8600,30.54
total_night_minutes,4250.0,200.513136,50.347998,0.0,167.2250,200.450000,234.6750,395.00
total_night_calls,4250.0,99.832744,20.076854,0.0,86.0000,100.000000,113.0000,175.00
total_night_charge,4250.0,9.024575,2.264124,0.0,7.5300,9.024575,10.5475,17.77
total_intl_minutes,4250.0,10.255147,2.757773,0.0,8.5000,10.300000,12.0000,20.00
total_intl_calls,4250.0,4.426481,2.459191,0.0,3.0000,4.000000,6.0000,20.00
total_intl_charge,4250.0,2.769796,0.742477,0.0,2.3000,2.780000,3.2400,5.40
number_customer_service_calls,4250.0,1.559689,1.311159,0.0,1.0000,1.000000,2.0000,9.00

### Imbalancing of data

In [14]:
(churn_df['churn'].value_counts().index[0], churn_df['churn'].value_counts().values[0])

('no', 3656)

In [15]:
(churn_df['churn'].value_counts().index[1], churn_df['churn'].value_counts().values[1])

('yes', 594)

### Removing columns for further analysis

In [16]:
remove_col = ["state", "area_code"]
churn_df.drop(columns = remove_col)

### Selection of Feature variable and target variable<a class= "anchor" id="h4"></a>

In [17]:
X = churn_df.drop(["churn"], axis=1)
y = churn_df["churn"]

### Balancing data by using SMOTE (Synthetic Minority Oversampling Technique)<a class= "anchor" id="h5"></a>

In [20]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()
X_balance, y_balance = smote.fit_resample(X, y)

In [21]:
X_balance.shape

(7312, 17)

In [22]:
y_balance.shape

(7312,)

### Splitting tha balanced dataset using train_test_split.<a class= "anchor" id="h6"></a>

In [30]:
from sklearn.model_selection import train_test_split
X_train, y_train, X_test, y_test = train_test_split(X_balance, y_balance, random_state= 10, test_size= 0.3)

In [33]:
print("Size of the traintest :", X_train.shape , y_train.shape)

Size of the traintest : (5118, 17) (2194, 17)

In [34]:
print("Size of the testset :", X_test.shape , y_test.shape)

Size of the testset : (5118,) (2194,)